@model TKMS.Abstraction.ComplexModels.IndentDetailModel
@using Core.Utility.Utils


<div class="accordion" id="accordionIndentDetail">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingIndentDetail">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#indentDetail" aria-expanded="true" aria-controls="indentDetail">
                Indent Detail
            </button>
        </h2>
        <div id="indentDetail" class="accordion-collapse collapse show" aria-labelledby="headingIndentDetail" data-bs-parent="#accordionIndentDetail">
            <div class="accordion-body">
                <div class="row g-3">
                    <div class="col-4">
                        <label class="control-label">Indent Date </label>
                        <div class="control-detail">
                            @CommonUtils.GetFormatedDate(Model.IndentDate)
                        </div>
                    </div>
                    <div class="col-4">
                        <label class="control-label">Indent Number</label>
                        <div class="control-detail">
                            @Model.IndentNo
                        </div>
                    </div>
                    <div class="col-4">
                        <label class="control-label">Indent Branch </label>
                        <div class="control-detail">
                            @Model.IblBranchCode
                        </div>
                    </div>
                    <div class="col-4">
                        <label class="control-label">Scheme Code </label>
                        <div class="control-detail">
                            @Model.SchemeCode
                        </div>
                    </div>
                    <div class="col-4">
                        <label class="control-label">C5 Code</label>
                        <div class="control-detail">
                            @Model.C5Code
                        </div>
                    </div>
                    <div class="col-4">
                        <label class="control-label">Card Type </label>
                        <div class="control-detail">
                            @Model.CardType
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="row">
                            <div class="col-2 col_kitRequired">
                                <label class="control-label col_kitRequiredLabel">No of Kit Required </label>
                                <div class="control-detail">
                                    @Model.NoOfKit
                                </div>
                            </div>
                            <div class="col-2 col_kitDispatched">

                                    <label class="control-label col_kitDispatchedLabel">No of Kit Dispatched </label>
                                    <div class="control-detail">
                                        @Model.NoOfKitDispatched
                                    </div>
                              
                            </div>
                        </div>
                        
                    </div>
                    
                    <div class="col-4">
                        <label class="control-label">BFIL Address Type</label>
                        <div class="control-detail">
                            @Model.BfilBranchType
                        </div>
                    </div>
                    <div class="col-4">
                        <label class="control-label">Bfil Branch Code </label>
                        <div class="control-detail">
                            @Model.BfilBranchCode
                        </div>
                    </div>
                    <div class="col-8">
                        <label class="control-label">Dispatch Branch Address </label>
                        <div class="control-detail">
                            @Model.DispatchAddress?.AddressDetail
                        </div>
                    </div>
                    <div class="col-4">
                        <label class="control-label">Pincode</label>
                        <div class="control-detail">
                            @Model.DispatchAddress?.PinCode
                        </div>
                    </div>
                    <div class="col-4">
                        <label class="control-label">Contact Person </label>
                        <div class="control-detail">
                            @Model.ContactName
                        </div>
                    </div>
                    <div class="col-4">
                        <label class="control-label">Contact Number</label>
                        <div class="control-detail">
                            @Model.ContactNo
                        </div>
                    </div>
                    <div class="col-4">
                        <label class="control-label">IFSC Code</label>
                        <div class="control-detail">
                            @Model.IfscCode
                        </div>
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col-12">
                        <label class="control-label">Remarks </label>
                        <div class="control-detail">
                            @Model.Remarks
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

