@model List<TKMS.Abstraction.ComplexModels.NotificationModel>
@using Core.Utility.Utils

<a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
    <i class="bi bi-bell"></i>
    <span class="badge bg-primary badge-number">@Model.Count</span>
</a>

<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
    <li class="dropdown-header">
        You have @Model.Count notifications
        <a asp-controller="Notification" asp-action="Index"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
    </li>
    @foreach (var notification in Model)
    {
        <li class="notification-item">
            <a href="@notification.RedirectUrl">
                <div>
                    <h4>@notification.Title</h4>
                    <p>@Html.Raw(notification.Description)</p>
                    <p> @CommonUtils.GetFormatedDate(notification.NotificationDate)</p>
                </div>
            </a>
        </li>

        <li>
            <hr class="dropdown-divider">
        </li>
    }
</ul>