@model TKMS.Abstraction.ComplexModels.KitStaffDetailModel
@inject TKMS.Service.Interfaces.IUserProviderService userProviderService
@using Core.Utility.Utils

@{
    ViewData["Title"] = "Staff Kit Detail";
}

<section class="section">

    <div class="row row1">
        <div class="col-md-1">
            <a href="/Kit#kitAllocatedStaffWise" class="backBtn"><img src="~/assets/img/next_side.png" /></a>
        </div>
        <div class="col-md-6 detail-heading-title">
            StaffID @Model.StaffId
        </div>
        <div class="col-md-5 text-right detail-heading-status">
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="accordion" id="accordionAllocationDetail">
                <div class="accordion-item kitClass">
                    <h2 class="accordion-header" id="headingAllocationDetail">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#allocationDetail" aria-expanded="true" aria-controls="allocationDetail">
                            Allocation Detail
                        </button>
                    </h2>
                    <div id="allocationDetail" class="accordion-collapse collapse show" aria-labelledby="headingAllocationDetail" data-bs-parent="#accordionAllocationDetail">
                        <div class="accordion-body">
                            <div class="row g-3">
                                <div class="col-4">
                                    <label class="control-label">Staff Id</label>
                                    <div class="control-detail">
                                        @Model.StaffId
                                    </div>
                                </div>
                                <div class="col-4">
                                    <label class="control-label">Staff Name</label>
                                    <div class="control-detail">
                                        @Model.StaffName
                                    </div>
                                </div>
                                <div class="col-4">
                                    <label class="control-label">Total Kits</label>
                                    <div class="control-detail">
                                        @(Model.KitAllocated.Count() + Model.KitAssigned.Count())
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item kitClass">
                    <h2 class="accordion-header" id="headingAllocatedDetail">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#allocatedDetail" aria-expanded="true" aria-controls="allocatedDetail">
                            Kit Allocated List
                        </button>
                    </h2>
                    <div id="allocatedDetail" class="accordion-collapse collapse show" aria-labelledby="headingAllocatedDetail" data-bs-parent="#accordionAllocationDetail">
                        <div class="accordion-body">
                            <table class="table datatable" id="staffAllocatedDatatable">
                                <thead>
                                    <tr>
                                        <th>Account Number</th>
                                        <th>Cif No</th>
                                        <th>Allocated Date</th>
                                        <th>Age</th>
                                        <th>Alert</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var kit in Model.KitAllocated)
                                    {
                                        <tr>
                                            <td>
                                                @kit.AccountNo
                                            </td>
                                            <td>
                                                @kit.CifNo
                                            </td>
                                            <td>
                                                @CommonUtils.GetFormatedDate(kit.AllocatedDate)
                                            </td>
                                            <td>
                                                @kit.AgeDetail
                                            </td>
                                            <td>
                                                @if (kit.ReturnAlert)
                                                {
                                                    <span>Return Alert</span>
                                                }
                                                else if (kit.KitAlert)
                                                {
                                                    <span>Kit Alert</span>
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="accordion-item kitClass">
                    <h2 class="accordion-header" id="headingAssignedDetail">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#assignedDetail" aria-expanded="true" aria-controls="assignedDetail">
                            Kit Assigned List
                        </button>
                    </h2>
                    <div id="assignedDetail" class="accordion-collapse collapse show" aria-labelledby="headingAssignedDetail" data-bs-parent="#accordionAllocationDetail">
                        <div class="accordion-body">
                            <table class="table datatable" id="staffAssignedDatatable">
                                <thead>
                                    <tr>
                                        <th>Account Number</th>
                                        <th>Cif No</th>
                                        <th>Allocated Date</th>
                                        <th>Assigned Date</th>
                                        <th>Customer Name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var kit in Model.KitAssigned)
                                    {
                                        <tr>
                                            <td>
                                                @kit.AccountNo
                                            </td>
                                            <td>
                                                @kit.CifNo
                                            </td>
                                            <td>
                                                @CommonUtils.GetFormatedDate(kit.AllocatedDate)
                                            </td>
                                            <td>
                                                @if (kit.AssignedDate.HasValue)
                                                {
                                                    @CommonUtils.GetFormatedDate(kit.AssignedDate.Value)
                                                }
                                            </td>
                                            <td>
                                                @kit.CustomerName
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/kit.js"></script>
}
